body, main {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    top: 0;
}
.pg1 {
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: whitesmoke;
    align-items: center;
    justify-content: center;
    display: flex;
}
.pg2 {
    width: 100vw;
    height: 80vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.hobby-box {
    width: 200px;
    padding-right: 50px;
    padding-left: 50px;
}
.link-box {
    width: 100px;
    padding-right: 50px;
    padding-left: 50px;
}
.box-top {
    display: flex;
    justify-content: center;
}